* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ********** logo *********** */
.logo-d {
  /* color: rgba(92, 93, 94, 0.5); */
  color: transparent;
  text-shadow: 0 0 6px rgba(92, 93, 94, 1);
  font-size: 35px;
  position: absolute;
  z-index: -1;
  left: -11px;
  top: -2px;
}
.logo-g {
  color: #192424;
  position: absolute;
  z-index: 1;
}
.madedLogo {
  font-weight: 800;
  font-size: 25px;
  position: relative;
  margin: 2rem;
  height: 2rem;
  left: 1rem;
  width: 30%;
  /* border: 1px solid #125f69e1; */
}

/* ************* img box *********** */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(187, 202, 214, 0.5),
    rgb(37, 75, 105, 0.7)
  );
  z-index: -5;
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  right: 2rem;
  border: 1px solid #125f69e1;
}

/* **** img  style *** */
section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  border: 1px solid darkblue;
}
.hero {
  height: 60%;
  width: 100%;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headline {
  position: absolute;
  top: 20%;
  left: 5rem;
  font-size: 1.5rem;
  transform: translate(-20%, -70%);
  z-index: 5;
}
.hero::after {
  content: "";
  background: #192424;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

/* *********** box with border lines *********** */
.box_lines {
  margin: 2rem auto;
  height: 50%;
  width: 80%;
  border: 1px solid#125f69;
  background-color: rgb(171, 191, 209);
  -moz-border-radius: 4px 12px 5px 12px;
  border-radius: 4px 12px 5px 12px;
  position: relative;
  z-index: 2;
  padding: 5px;
  font-weight: 200;
}
.box_lines2 {
  margin: 6rem auto;
  height: 100%;
  width: 100%;
  top: -6rem;
  right: -3px;
  border: 1px solid #125f69;
  transform: skew(3deg, -1deg);
  -moz-border-radius: 4px 5px 4px 5px;
  border-radius: 4px 3px 4px 5px;
  position: absolute;
  z-index: -2;
}
.box_main {
  height: 20rem;
  width: 50%;
  margin: 0 auto;
}
.intro_text {
  color: #125f69;
  width: 90%;
  padding-left: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
.intro_appear {
  opacity: 1;
  transform: translateY(0px);
}

.next_item {
  height: 20rem;
  background-color: rgb(171, 191, 209);
}
